* {
    box-sizing: border-box;
}

body {
    margin: 50px;
    font-size: 17px;
}

h1 {
    font-family: 'Indie Flower';
}

label {
    display: block;
    margin-bottom: 20px;
}


input[type=text], textarea, select{
    padding: 10px;
    width: 500px;
    font-size: 15;
    border: 1px solid #3d3d3d;
    outline: 0;
    margin-top: 5px;
}

textarea { 
    height: 200px;
    resize: none;
}

.termoslink {
    color: #3f3f3f;
}

.termoslink :hover {
    text-decoration: underline;
}

button {
    padding: 10px;
    font-size: 15px;
    border: 1px solid #CCC;
    border-radius: 25px;
}
